/* Conservez ces lignes de css */

@import url("https://web3.tim-momo.com/carre/styles.css");

.back {
  aspect-ratio: 5 / 7;
}

.carte {
  aspect-ratio: 5 / 7;
  display: grid;
}

.danger {
  color: (255, 0, 0);
}

.flip {

transform: scaleY(-1);
}

